# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment & secrets
.env
*.secret
/secrets/

# Virtual environments
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

# Logs & cache
*.log
.cache/
*.sqlite3

# GitHub Actions specific
!.github/
